/**
 * Functions
 */
@function color($color, $transparency: 1) {
  @if $transparency != 1 {
    @return rgba($color, $transparency);
  } @else {
    @return $color;
  }
}

/**
 * Mixins
 */
@mixin background-size($value) {
  -webkit-background-size: $value;
     -moz-background-size: $value;
       -o-background-size: $value;
          background-size: $value;
}

@mixin font-smoothing($value) {
  -webkit-font-smoothing: $value;
     -moz-font-smoothing: $value;
          font-smoothing: $value;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

@mixin inline-block() {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@mixin opacity($value) {
  opacity: $value;
  filter: alpha(opacity=($value*100));
}

@mixin border-radius($value) {
  -webkit-border-radius: $value;
     -moz-border-radius: $value;
          border-radius: $value;
}

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
     -moz-box-shadow: $value;
          box-shadow: $value;
}

@mixin input-placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }

  ::-moz-placeholder {
    @content;
  }

  :-ms-input-placeholder {
    @content;
  }

  :-moz-placeholder {
    @content;
  }
}